Footer {
	height: 1;
}

#ref_log {
	background: darkblue;

}

#tst_log {
	background: black;
}

.box {
    border: solid green;
}

Switch {
    height: auto;
    width: auto;
    align: right bottom;
}