App {
	width: 114;
	height: 32;
}

Footer {
	height: 1;
}

#ref_log {
	background: darkblue;

}

#tst_log {
	background: black;
}

.table {
	 height: 5fr;
}

.box {
    border: heavy yellow;
    height: 1fr;
}

Switch {
    height: auto;
    width: auto;
    align: right bottom;
}